//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");



.App {
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  // background-color: #61dafb;
  background-image: url("images/login.jpg");
  background-size: 40%;
  // max-height: 1000px;
  // max-width: 100%;
  // height: auto;
  padding-bottom: 30%;
  // min-height: 100%; 
  // height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Media Query

@media only screen and (max-width: 1070px) {
  .App {
    .motto {
      margin-left: 5%;
      margin-top: 550px;
      text-align: left;
      font-size: 40px;
    }
  }
}


@media only screen and (max-width: 700px) {
  .App {
    background-color: #61dafb;
    // background-image: none;
    .motto{
      font-size: 25px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width:100%;
      letter-spacing: 1px;
      line-height: 20px;
      margin-top: 570px;
    }
    .login {
      margin-left: auto;
      margin-right: auto;
      .container{
        box-shadow: inherit;
        // visibility: hidden;
      }
      .right-side{
        // visibility: hidden;
        display: inherit;
        height: 10%;
        background-color: #801f71;
        width: 100%;
        position: none;
        right: 0%;
        z-index: 1;
        transition: none;
        cursor: pointer;
        box-shadow: inherit;
        margin-top: 350px;


        &.right {
          right: 0%;
          align-items: flex-end;

          .inner-container{
            margin-right: auto;
            margin-left: auto;
          }

          &:hover {
            right: inherit;
          }
        }   
      }
    }
  }
}


//App Main Container

.title{
  position:absolute;
  color:white;
  margin-top: -300px;
  margin-left: 5%;
}

.motto{
  color:white;
  margin-left: 60%;
  margin-top: 400px;
  position: absolute;
  // text-indent: 50px;
  text-align: right;
  letter-spacing: 3px;
  font-size: 20px;
}

.login {
  width: 27em;
  height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 5%;
  position: relative;
  z-index: 99;
  box-shadow: 5px 5px 5px grey;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    background-color: #801f71b2;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}
